<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			h2 {
			color: Snow;
			font-family:verdana;
			font-size:2em;
			}
			p {
			color: Snow;
			font-family:verdana;
			font-size:1em;
			}
		</style>
		<title>
			<h2>About us</h2>
		</title>
	</head>
	<body>
		<h2>About us</h2>
		<p>
		Barbershop combines an old-fashioned traditions with technologies, cinematic lighting for qualitative geometry of haircuts and classic techniques with the art of statuary of a male haircut, and only this way we can reveal and create a personalized image.
		Our men's hair salon is the first one who ventured to break all the stereotypes, we are a symbiosis of Barbers, sculptors and classics - eager for excellence. MR.WALTER barbershop holds weekly meetings and workshops - both in San Francisco and US, we share secrets and tricks of proper straight razor home shaving and royal shaving rituals. We give practical advises on a beard&mustache grooming and proper hair styling. We want to help real men to be more independent and confident. MR.WALTER Barbershop - men's club where you will not only become better, but also will be equipped with an experience of predecessors. MR.WALTER's main feature is that we are the first barbershop in US opened by masters.
		</p>
	</body>
</html>


