<!DOCTYPE html>
<html>
<head>
	<title>
		<h2>About us</h2>
	</title>
</head>
<body text="#FFFF00">
	
Barbershop combines an old-fashioned traditions with technologies, cinematic lighting for qualitative geometry of haircuts and classic techniques with the art of statuary of a male haircut, and only this way we can reveal and create a personalized image.
Our men's hair salon is the first one who ventured to break all the stereotypes, we are a symbiosis of Barbers, sculptors and classics - eager for excellence. Frisor barbershop holds weekly meetings and workshops - both in Kiev and Ukraine, we share secrets and tricks of proper straight razor home shaving and royal shaving rituals. We give practical advises on a beard&mustache grooming and proper hair styling. We want to help real men to be more independent and confident. Frisor Barbershop - men's club where you will not only become better, but also will be equipped with an experience of predecessors. Frisor's main feature is that we are the first barbershop in Ukraine opened by masters.

</body>
</html>


