<!DOCTYPE html>
<html>
	<head>
	<title>Our contacts</title>
		<style type="text/css">
      		body{
      		color: Snow;
      		font-family:verdana;
      		}
  		</style>
	</head>
	<body>
		<h1>Our contacts</h1>
		<address>
  			<strong>MR.WALTER Barbershop</strong><br>
  			1355 Market Street, Suite 900<br>
  			San Francisco, CA 94103<br>
  			Phone: (123) 456-7890 <br>
  			<a href="mailto:#">barber_shop@freecatting.com </a>
		</address>
	</body>
</html>

