<h1>Our contacts</h1>
<address>
  <strong>Barber Shop</strong><br>
  1355 Market Street, Suite 900<br>
  San Francisco, CA 94103<br>
  <abbr title="Phone">Phone:</abbr> (123) 456-7890
  <a href="mailto:#">barber_shop@freecatting.com </a>
</address>