<!DOCTYPE html>
<html >

	<head>
		<title>Barber shop</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="/vendor/jquery-1.9.1.min.js"></script>
    	<!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<style type="text/css" >
		body{
			background: url(Mockup-Mr-Walter-3.png) no-repeat center center fixed ;
			background-size: cover;
      		color: Snow;
      		font-family:verdana;
      	}
	</style>
	<tbody >
		<div class="container">
			<!-- Static navbar -->
			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/"> Barber shop of MR.WALTER</a>
			  </div>
			  <div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="/about">About</a></li>
			      <li><a href="/visit">Enroll</a></li>
			      <li><a href="/contacts">Contacts</a></li>
			      <li><a href="/orders">Orders</a></li>
			    </ul>
			  </div><!--/.nav-collapse -->
			</nav>

			<div>
			      <%if @error then %>
			          <div class="alert alert-danger"><%=@error%></div>
			      <% end %>
			      <%= yield %>
			</div>
		</div>
  	</tbody>
</html>
