<!DOCTYPE html>
<html>
	<head>
		<title>order_message</title>
		<style type="text/css">
			body {
  				color: Snow;
      			font-family:verdana;
      		}
      	</style>
	</head>
	<body>
		<h1> <%= @title %> </h1> 
		<p> 
			<h3> <%= @message %> </h3>
		</p>
	</body>
</html>
