<h2>Enroll to Us</h2>
<p>On this page you wiil be able to enroll to our Barber Shop</p>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Your name</label>
    <input name="user_name" type="text" class="form-control" placeholder="Enter your name">
  </div>

  <div class="form-group" >
    <label> Your phone &nbsp </label> 
    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true">
    </span>
    <input name="phone" type="text" class="form-control" placeholder="Enter your phone"> 
  </div>

  <div class="form-group">
    <label>When can we wait for you? &nbsp</label>
    <span class="glyphicon glyphicon-bell" aria-hidden="true">
    </span>
    <input name="date_time" type="text" class="form-control" placeholder="Enter date and time"> 
    
  </div>

  <form>
   <label>Please, choose a barber</label>
    <select class="form-control" name="barber_name"> 
      <option>underfined</option>
      <option>Snoop Dog</option>
      <option>Gerard Butler </option>
      <option>Frank Sinatra</option>
      <option>Charli Chaplin</option>
      <option>Bruce Willis</option>
    </select>
  </form>

  <p></p>  
  <button type="submit" class="btn btn-primary">Enroll</button>
</form>
